body{
    margin: 0;
}
.nav{
    background-color:black;
    padding: 9px;
  
}
.icons{
   color: #fbfbfd;
 padding-left: 8px;
 padding-right: 8px;
}
span{
    color: #fbfbfd;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding-left: 9px;
   padding-right:9px;
   font-style: normal;
   font-weight: 400px;
}
.container{
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
}